body{
    background-color:antiquewhite;
    padding: 0;
    margin: 0;
}
/*-----------------------Header Start----------------------------*/
header{
    border-radius: 20px;
    width: 100%;
    background-color:aliceblue;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.navigator{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.navbar{
    width: 100px;
    height: 50px;
    background-color:darkkhaki;
    display: flex;
    border: 1px solid none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    box-shadow: 5px 5px 10px grey;
    cursor: pointer;
}
.home ul{
    list-style: none;
    margin-right: 35px;
    position: absolute;
}
.home ul li ul{
    display: none;
}
.navbar:hover{
    background-color: rgba(235, 228, 131, 0.993);
    transition: all ease-in 0.2s;
}
.home:hover > ul li ul{
    display: block;
}
.home ul li ul li{ 
    width: 100px;
    height: 50px;
    background-color:rgb(123, 187, 189);
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.home ul li ul li:hover{
    background-color: lightgreen;
    transition: all ease-in 0.2s;
}
/*-----------------------Header End----------------------------*/


/*------------------------Form Start----------------------------*/

form{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 150px;
    font-size: 25px;
}
fieldset{
    background-color:lightgoldenrodyellow;
    border-radius: 10px;
    box-shadow: 5px 5px 9px grey;
}
legend{
    background-color:lightpink;
    border-radius: 10px;
    border: 1px dashed black;
    padding: 2px 5px;
}
.box{
    width: 90%;
    padding: 5px;
    margin-top: -30px;
}
a{
    font-size: 15px;
    color: blue;
}
.login{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(219, 176, 65);
    font-weight: bold;
}
.login:hover{
    background-color: orange;
    cursor: pointer;
    color: aliceblue;
}

/*------------------------Form End------------------------------*/


/*-----------------------Footer Start----------------------------*/
footer{
    border-radius: 20px;
    width: 100%;
    position: absolute;
    margin: 0;
    bottom: 0;
    text-align: center;
    background-color: aliceblue;
}
.h1{
    font-size: 25px;
}
.p1{
    position: relative;
    width: 60%;
    margin: auto;
    top: -20px;
}
footer div:nth-child(3){
    width: 100%;
    padding-bottom: 10px;
}
.fi{
    position: relative;
    font-size: 45px;
    padding: 20px;
}
footer div:nth-child(4){
    position: relative;
    font-weight: lighter;
    width: 100%;
    font-size: 25px;
    background-color:khaki;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    margin: 0;
    word-spacing: 3px;
}
/*-----------------------Footer End----------------------------*/